// body {
//     font-size: 72px;
// }

$cyan: cyan;
$white: #ffffff;

$gray-100: #F4F1F1;
$gray-200: #DDD4D4;
$gray-300: #C7B8B8;
$gray-400: #B5A1A1;
$gray-500: #A58D8D;
$gray-600: #987C7C;
$gray-700: #614C4C;
$gray-800: #473838;
$gray-900: #2B2222;


$pink-100: #FDB7CC;
$pink-200: #F98EAF;
$pink-300: #F2648F;
$pink-400: #E43D70;
$pink-500: #C42858;
$pink-600: #AD214C;
$pink-700: #8A183A;
$pink-800: #7C1233;
$pink-900: #610A24;

$main-background: #FAF5F6;
$main-orange: #F78E7F;
$low-redd: #FFE9E5;
$main-redd: #AB1500;
$main-pink: #FA709A;
$main-gradient: linear-gradient(85.43deg, #FF9A8B 0.09%, #FA709A 99.28%);




