//
//
//
//@font-face {
//  font-family: 'SF Pro Text';
//  src: url('~@/assets/fonts/SFProText-Medium.woff2') format('woff2'),
//  url('~@/assets/fonts/SFProText-Medium.woff') format('woff');
//  font-weight: 500;
//  font-style: normal;
//}

@font-face {
  font-family: 'SF Pro Text';
  src: url('~@/assets/fonts/SFProText-Regular.woff2') format('woff2'),
  url('~@/assets/fonts/SFProText-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('~@/assets/fonts/SFProText-Medium.woff2') format('woff2'),
  url('~@/assets/fonts/SFProText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('~@/assets/fonts/SFProText-Semibold.woff2') format('woff2'),
  url('~@/assets/fonts/SFProText-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('~@/assets/fonts/SFProText-Bold.woff2') format('woff2'),
  url('~@/assets/fonts/SFProText-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}






html {
  height: 100%;
}

body {
  font-family: 'SF Pro Text', sans-serif;
  margin: 0;
  padding: 0;
  padding-left: 220px;
  background-color: $main-background;
  height: 100%;
  // background-image: $main-gradient
}

#app {
  height: 100%;
}

*, :after, :before {
  box-sizing: inherit;
}

textarea {
  font-family: 'SF Pro Text', sans-serif;
}

input {
  font-family: 'SF Pro Text', sans-serif;
}
