<template>
    <div class="block">
      <h2 class="block__title"> {{ title }} </h2>
        <slot></slot>
    </div>
</template>

<script>
export default {
  name: 'Block',
  props: {
    title: {
      default: ''
    }
  }
}
</script>

<style lang="scss" scoped>

  .block {
    width: 475px;
    background-color: $white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    padding: 20px;
    margin: 0 auto;
  }

  .block__title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.5px;

    color: $gray-900;

    margin: 0;
    padding: 0;
    margin-bottom: 25px;
    text-align: left;
  }

</style>
