<template>
    <div class="left-menu">
        <div class="left-menu__inner">
          <div class="left-menu__wrapper">
            <div class="left-menu__header">
              <div class="left-menu__logo">
                <a href="#" class="left-menu__link left-menu__link--top-align">
                  <figure class="left-menu__img-icon">
                    <img src="../../assets/logo.png" alt="P">
                  </figure>
                  <span class="left-menu__text">
                    <span class="left-menu__text--bold">
                      <b>Pander</b>
                    </span>
                    <br>
                    <span>Инструмент для массовых знакомств</span>
                  </span>
                </a>
              </div>
              <!--              <router-link-->
              <!--                to="/about"-->
              <!--                v-slot="{ href }"-->
              <!--              >-->
              <!--                <span>-->
              <!--                  {{href}}-->
              <!--                </span>-->
              <!--&lt;!&ndash;                <NavLink :active="isActive" :href="href" @click="navigate">&ndash;&gt;-->
              <!--&lt;!&ndash;                  {{ route.fullPath }}&ndash;&gt;-->
              <!--&lt;!&ndash;                </NavLink>&ndash;&gt;-->
              <!--              </router-link>-->
              <!--            <router-link to="/">Home</router-link> |-->
              <!--            <router-link to="/about">About</router-link>-->
            </div>
            <div class="left-menu__body">
              <ul class="left-menu__list">
                <li class="left-menu__item">
                  <a href="" class="left-menu__link">
                    <figure class="left-menu__img-icon">
                      <img src="../../assets/img/badoo-img.png" alt="b">
                    </figure>
                    Badoo
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
    </div>
</template>

<script>
// @ is an alias to /src
export default {
  name: 'LeftNav'
}
</script>

<style scoped lang="scss">
    .test {
        color: $cyan;
    }

    .left-menu {
      width: 220px;
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;

      background-color: $white;
    }

    .left-menu__inner {
      overflow: hidden;
    }

    .left-menu__wrapper {
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      margin-right: -20px;
      height: 100%;
    }

    .left-menu__header {
      background-color: $white;
      padding-left: 30px;
      padding-top: 15px;
      padding-right: 30px;
      border-right: 1px solid $main-background;
      border-bottom: 1px solid $main-background;

      width: 100%;
      height: 90px;
      display: flex;

      box-sizing: border-box;
    }

    .left-menu__text {
      font-weight: normal;
      font-size: 11px;
      line-height: 150%;
      color: $gray-400;
    }

    .left-menu__text--bold {
      font-weight: bold;
      font-size: 14px;
      line-height: 150%;
      display: inline-block;
      margin-bottom: 5px;

      color: $gray-900;
    }

    .left-menu__body {
      padding-left: 30px;
    }

    .left-menu__logo {

    }

  .left-menu__list {
    padding: 0;
    margin: 0;
    margin-top: 30px;
    list-style: none;
    font-size: 0;
    vertical-align: top;

    display: flex;
    flex-direction: column;
  }

  .left-menu__item {
    display: inline-block;

  }

  .left-menu__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;

    color: $gray-900;
  }

  .left-menu__link--top-align {
    align-items: flex-start;
  }

    .left-menu__img-icon {
      display: block;
      position: relative;
      width: 24px;
      height: 24px;
      margin: 0;
      margin-right: 10px;
      flex-shrink: 0;

    }

    .left-menu__img-icon > img {
      max-width: 100%;
      max-height: 100%;

      position: absolute;
      left: 50%;
      top: 50%;
      margin-right: 0px;
      margin-left: 0px;

      transform: translate(-50%, -50%);
      transform-origin: 50% 50%;
    }

</style>
