<template>
    <div :class="['field', nested ? 'field--nested' : '', line_direction ? 'field--line' : '']">
        <span v-if="title" class="field__title">{{ title }}</span>
        <div :class="['field__wrapper', line_direction ? 'field__wrapper--line' : '']">
          <slot></slot>
        </div>
        <span :class="['field__error-message', this.error_message_visible ? 'field__error-message--visible' : '']">
          {{ error_message }}
        </span>
    </div>
</template>

<script>
export default {
  name: 'Field',
  props: {
    title: {
      default: ''
    },
    error_message_visible: {
      default: false
    },
    error_message: {
      default: ''
    },
    nested: {
      default: false
    },
    line_direction: {
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>

  .field {
    margin-bottom: 25px;
    font-size: 0;
    vertical-align: top;
  }

  .field--line {
    margin-bottom: -5px;
  }

  .field__wrapper {
  }

  .field__wrapper--line {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .field__title {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    display: inline-block;

    color: $gray-300;
    margin-bottom: 10px;
  }

  .field--nested {

    margin-bottom: 15px;
  }

</style>
