<template>
  <a href="javascript:void(0)" :class="['button', selectModificatorClass]">
    <slot></slot>
  </a>
</template>

<script>
export default {
  name: 'Button',
  props: {
    text: {
      default: ''
    },
    type: {
      default: 'default'
      /* types
      default
      accident
      low-accident
      hard-accident
       */
    },
    classes: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  computed: {
    selectTypeClass: function () {
      switch (this.type) {
        case 'accent':
          return ' button--accent'
        case 'outline':
          return ' button--low-accent'
        case 'hard-accent':
          return ' button--hard-accent'
        default:
          return ''
      }
    },
    selectModificatorClass: function () {
      if (this.classes.length) {
        let classesString = ''
        this.classes.forEach((className) => {
          classesString += ' ' + className
        })

        return classesString
      }

      return ''
    }
  }
}
</script>

<style lang="scss" scoped>

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;

   // color: $white;
   // background-color: $main-pink;
    border-radius: 10px;
    padding: 16px 32px;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.20);
    transition: all 0.3s;
    position: relative;
  }

  .button--high-accent {
    color: $white;
    background-color: $main-pink;
  }

  .button:hover {
    transition: all 0.3s;
    background-color: darken($main-pink, 3%);
  }

  .button:active {
    transition: all 0.3s;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.20);
    top: 1px;
  }

  .button {
    width: 100%;
  }

</style>
