<template>
  <div class="container">
    <BlockWrapper title="Настройки">
      <TagEditor :tags="tags" @add-tag="addTag" @delete-tag="deleteTag" />
      <FieldGroup title="Профили" error_message="" :line_direction="true">
        <RadioButton @change-radio="changeRadio" name="profile" val="all" text="Все" :checked="params.profile === 'all'" />
        <RadioButton @change-radio="changeRadio" name="profile" val="online" text="Онлайн" :checked="params.profile === 'online'" />
        <RadioButton @change-radio="changeRadio" name="profile" val="new" text="Новые" :checked="params.profile === 'new'" />
      </FieldGroup>
      <FieldGroup error_message="">
        <SwitchButton @change-switch="changeSwitch" name="likes" text="Ставить лайки" :checked="params.likes"/>
        <SwitchButton @change-switch="changeSwitch" name="send_message" text="Отправлять сообщения" :checked="params.send_message" />
        <SwitchButton @change-switch="changeSwitch" name="verified_only" text="Только с верифицированным фото" :checked="params.verified_only"/>
      </FieldGroup>
      <UiButton :classes="['button--w100', 'button--medium', 'button--high-accent']">Начать поиск</UiButton>
      <p>
        <pre>Tags: {{tags}}</pre>
      </p>
      <p @click="toggleLikes">
        <pre>Switches: {{params}}</pre>
      </p>
    </BlockWrapper>
  </div>
</template>

<script>
// @ is an alias to /src
// import HelloWorld from '@/components/HelloWorld.vue'
// import LeftMenu from '@/components/LeftNav.vue'
// import Vue from 'vue'
import BlockWrapper from '@/components/ui/Block/Block.vue'
import TagEditor from '@/components/ui/TagEditor/TagEditor.vue'
import SwitchButton from '@/components/ui/SwitchButton/SwitchButton.vue'
import RadioButton from '@/components/ui/Radio/Radio.vue'
import FieldGroup from '@/components/ui/Field/Field.vue'
import UiButton from '@/components/ui/Button/Button.vue'

export default {
  name: 'Home',
  components: {
    TagEditor,
    BlockWrapper,
    SwitchButton,
    FieldGroup,
    RadioButton,
    UiButton
  },
  data () {
    return {
      params: {
        likes: true,
        send_message: true,
        verified_only: true,
        profile: 'all'
      },
      tags: ['Привет!', 'Прогуляемся сегодня?', 'Салют! Как настроение?', 'Waste no time', 'Полиглот', 'Юрист', 'Market Gamers'],
      error_message: '',
      switches_validity: true
    }
  },
  methods: {
    changeSwitch (evt) {
      this.params = {
        ...this.params,
        [evt.name]: evt.checked
      }
    },
    changeRadio (evt) {
      this.params = {
        ...this.params,
        [evt.name]: evt.value
      }
    },
    toggleLikes () {
      this.params = {
        ...this.params,
        likes: !this.params.likes
      }
    },
    addTag (newTag) {
      this.tags = [...this.tags, newTag]
    },
    deleteTag (tag) {
      this.tags = this.tags.filter(t => t !== tag)
    }
  }
}
</script>

<style>
  /* .container {
    width: 600px;
    margin: 0 auto;
  } */
</style>
