<script>
import field from '@/components/ui/Field/Field.vue'

export default {
  // template: fuction
  name: 'SwitchButton',
  props: {
    name: {
      required: true
    },
    text: {
      default: ''
    },
    validity: {
      default: true
    },
    error_message: {
      default: ''
    },
    two_per_line: {
      default: false
    },
    checked: {
      type: Boolean
    }
  },
  components: {
    'field-group': field
  },
  data () {
    return {

    }
  },

  render: function (createElement) {
    var self = this

    return createElement('field-group', {
      props: {
        error_message_visible: !this.validity,
        error_message: '',
        nested: true
      }
    },

    [
      createElement('label', {
        attrs: {
          class: 'switch' + [!this.validity ? ' switch--error' : '']
        }
      },

      [
        createElement('input', {
          attrs: {
            type: 'checkbox',
            name: this.name
          },
          domProps: {
            checked: self.checked
          },
          on: {
            change: function (event) {
              self.$emit('change-switch', {
                name: event.target.name,
                checked: event.target.checked
              })
            }
          }
        }, ''),
        createElement('span', {
          attrs: {
            class: 'control-indicator'
          }
        }),
        createElement('span', {
          attrs: {
            class: 'switch__text'
          }
        }, this.text)

      ], '')

    ],

    this.text)
  }
}
</script>

<style lang="scss" scoped>

  $transition: all 0.3s;

  .switch input:enabled,
  .switch input:disabled {
    display: none;
  }

  .switch input:enabled .control-indicator,
  .switch input:disabled .control-indicator {
    display: inline-block;

    width: 44px;
    height: 22px;
    background-color: $pink-300;
    vertical-align: middle;
    margin-right: 5px;

    box-sizing: border-box;
    border-radius: 16px;
    position: absolute;
    left: 0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.20);

  }

  .switch input + .control-indicator {
    display: inline-block;

    width: 44px;
    height: 22px;
    background-color: $gray-200;
    vertical-align: middle;
    margin-right: 5px;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.20);
    transition: $transition;
  }

  .switch input:checked + .control-indicator {
    display: inline-block;

    width: 44px;
    height: 22px;
    background-color: $pink-300;
    vertical-align: middle;
    margin-right: 5px;

    box-sizing: border-box;
    border-radius: 16px;
    transition: $transition;
  }

  .switch input + .control-indicator::after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-color: $white;
    border-radius: 50%;

    position: absolute;
    top: calc(50% - 18px/2);
    left: 2px;
    transition: $transition;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.20);
  }

  .switch input:checked + .control-indicator::after {
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background-color: $white;
    border-radius: 50%;

    position: absolute;
    top: calc(50% - 18px/2);
    left: calc(100% - 20px);
    transition: $transition;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.20);
  }

  .switch__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;

    color: $gray-900;
    padding-left: 14px;
  }

  .switch {
    display: inline-flex;
    align-items: center;
    position: relative;
    min-width: 44px;
    min-height: 22px;
    padding-left: 44px;
    user-select: none;
    cursor: pointer
  }

  /*.switch {*/
  /*  margin-left: 20px;*/
  /*}*/
  .switch:first-child {
    margin-left: 0;
  }

</style>
