<template>
  <field-group>
    <label class="radio">
      <input type="radio"
             @change="changeRadio" :name="name" :value="val" :checked="checked">
      <span class="control-indicator">{{text}}</span>
    </label>
  </field-group>
</template>

<script>
import field from '@/components/ui/Field/Field.vue'

export default {
  name: 'Radio',
  props: {
    val: {
      required: true
    },
    name: {
      required: true
    },
    checked: {
      default: false
    },
    text: {
      default: ''
    }
  },
  components: {
    'field-group': field
  },
  methods: {
    changeRadio (evt) {
      this.$emit('change-radio', {
        name: evt.target.name,
        value: evt.target.value
      })
    }
  }
}
</script>

<style lang="scss" scoped>

  $transition: all 0.1s;

  .radio input:enabled,
  .radio input:disabled {
    display: none;
  }

  .radio input:enabled .control-indicator,
  .radio input:disabled .control-indicator {
    display: inline-block;

    background-color: $white;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;

    box-sizing: border-box;
    border-radius: 3px;
    left: 0;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.20);
    padding: 6px 13px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;

    color: $gray-900;

  }

  .radio input + .control-indicator {
    display: inline-block;

    background-color: $white;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
    left: 0;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.20);
    transition: $transition;
    padding: 6px 13px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: $gray-900;
  }

  .radio input:checked + .control-indicator {
    display: inline-block;

    background-color: $pink-300;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;

    box-sizing: border-box;
    border-radius: 3px;
    transition: $transition;
    padding: 6px 13px;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;

    color: $white;
  }

  .radio {
    display: inline-flex;
    align-items: center;
    position: relative;
    user-select: none;
    cursor: pointer
  }

  /*.radio {*/
  /*  margin-left: 20px;*/
  /*}*/
  .radio:first-child {
    margin-left: 0;
  }

</style>
