<template>
  <div id="app">
    <LeftNav />
    <transition name="fade" mode="out-in">
      <router-view/>
    </transition>
  </div>
</template>

<script>

import LeftNav from '@/components/layout/LeftNav.vue'

export default {
  components: {
    LeftNav
  }
}
</script>
<style lang="scss">
#app {
  /*font-family: Avenir, Helvetica, Arial, sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*text-align: center;*/
  color: #2c3e50;
}

#nav {
  padding: 30px;
}
</style>
