<template>
    <div class="tag-editor" ref="editor">
      <span class="tag-editor__inner">
          <label class="tag-editor__title">Шаблоны сообщений</label>
            <span class="tag-editor__tags">
              <span :class="['editable-tag',currentEditableTag === index ? 'editable-tag--active' : '']"
                    v-for="(tag, index) in tags"
                    :key="index"
              >
                <span class="editable-tag__text"
                      v-show="currentEditableTag !== index"
                      @click="setCurrentEditTag(index, tag)"
                > {{ tag }} </span>

                <input type="text"
                       v-show="currentEditableTag === index" class="editable-tag__input"
                       :style="'width: ' + (currentEditableTagWidth > maxTagWidth ? maxTagWidth : currentEditableTagWidth) + 'px; margin-right: -2px;'"
                       v-model="tags[index]"
                       :ref="tag"
                       @input="editTag(index, $event)"
                       @keydown.enter.prevent="closeEditableTag(index, $event)"
                       @blur="closeEditableTag(index, $event)"
                >
                <a href="javascript:void(0)" class="editable-tag__delete"
                   @click="deleteTag(tag)"
                >×</a>
              </span>
              <input type="text" class="tag-editor__input" placeholder="Добавьте фразу..."
                     v-model="input"
                     @keydown.enter.prevent="addTag"
              >
          </span>
      </span>
      <div class="tag-editor__measure" ref="tagMeasure">
        <pre>{{currentEditableTagNewValue}}</pre>
      </div>
    </div>
</template>

<script>
import Vue from 'vue'

export default {
  name: 'TagEditor',
  props: {
    tags: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  data () {
    return {
      // tags: ['Привет!', 'Прогуляемся сегодня?', 'Салют! Как настроение?', 'Waste no time'],
      input: '',
      currentEditableTag: false,
      currentEditableTagNewValue: '',
      currentEditableTagWidth: '',
      maxTagWidth: 470
    }
  },
  computed: {
    newTag () {
      return this.input.trim()
    }
    // maxTagWidth () {
    //   // console.log(this.$refs)
    //   // return this.$refs.editor.clientWidth
    // }
  },
  watch: {
    currentEditableTagNewValue: function (newQuestion, oldQuestion) {
      // this.currentEditableTagWidth = this.$refs.tagMeasure.getBoundingClientRect().width + 'px'
      // console.log(this.currentEditableTagWidth)
      Vue.nextTick(() => {
        this.currentEditableTagWidth = this.$refs.tagMeasure.getBoundingClientRect().width + 2
        // this.$refs.tagMeasure.textContent.split('').forEach((glyph) => {
        //   Vue.nextTick(() => {
        //     this.currentEditableTagNewValue = glyph
        //     console.log(glyph, this.$refs.tagMeasure.clientWidth)
        //   })
        // })
      })
    }
  },
  methods: {
    // calculateTagInputWidth (tagIndex) {
    //   // var tagMeasure = this.$refs.tagMeasure[0]
    //   // tagMeasure.text = this.value + 'WW';
    //
    //   Vue.nextTick(() => {
    //     console.log(this.$refs.tagMeasure.clientWidth + 'px')
    //     return this.$refs.tagMeasure.clientWidth + 12 + 'px'
    //   })
    // },
    deleteTag (tag) {
      if (this.tags.length === 1) {
        return
      }

      this.$emit('delete-tag', tag)
    },
    setCurrentEditTag (index, tag) {
      this.currentEditableTag = index
      this.currentEditableTagNewValue = tag

      Vue.nextTick(() => {
        this.currentEditableTagWidth = this.$refs.tagMeasure.getBoundingClientRect().width + 2
        this.$refs[tag][0].focus()
      })
    },
    editTag (index, evt) {
      this.currentEditableTagNewValue = evt.target.value
      this.tags[index] = evt.target.value
    },
    closeEditableTag (index, evt) {
      this.editTag(index, evt)
      this.currentEditableTag = false
    },
    addTag (newTag) {
      if (this.newTag.length === 0 || this.tags.includes(this.newTag)) {
        return
      }

      this.$emit('add-tag', this.newTag)
      // this.tags = [...this.tags, this.newTag]

      this.clearInput()
    },
    clearInput () {
      this.input = ''
    }
  },
  mounted () {
    console.log(this.$el.clientWidth)
    this.maxTagWidth = this.$el.clientWidth
  }
}
</script>

<style scoped lang="scss">

  .tag-editor {
    background-color: $white;
    box-shadow: 0px 1px 4px rgba(43, 34, 34, 0.2);
    border-radius: 10px;
    padding: 16px;

    display: block;
    /*width: 100%;*/
    margin: 0 auto;
    margin-bottom: 25px;
  }

  .tag-editor__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .tag-editor__tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    width: 100%;
  }

  .tag-editor__title {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: $gray-300;
  }

  .editable-tag__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: $pink-700;
    text-align: left;
    padding: 0;
    margin: 0;
  }

  .editable-tag {
    display: inline-flex;
    max-width: 470px;
    padding: 2px 0px 2px 7px;
    background-color: $main-background;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: left;
    font-size: 0;
    box-sizing: border-box;
  }

  .editable-tag--active {
    border: 1px solid #DDD4D4;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 1px 0px 1px 6px;
    margin-right: 9px;

    background-color: $white;
  }

  .editable-tag__delete {
    width: 24px;
    height: 100%;
    display: block;
    background-image: url('~@/assets/img/icons/i-del-tag.svg');
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: center center;
    font-size: 0;
  }

  .editable-tag__input {
    /*display: block;*/
    /*width: auto;*/
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    padding: 0;
    margin: 0;
    color: $pink-700;
    border: none;
    outline: none;
   // background-color: $main-background;
    text-align: left;

  }

  .tag-editor__input {
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;

    color: $gray-800;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
  }

  .tag-editor__input::placeholder {
    color: $gray-600;
  }

  .tag-editor__input:focus::placeholder {
    color: $gray-400;
  }

  .tag-editor__measure {
    font-size: 0px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -10999px;
  }

  .tag-editor__measure pre {
    font-family: 'SF Pro Text';
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    /*padding: 2px 0px 2px 7px;*/
    padding: 0;
    margin: 0;
  }

</style>
